.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15.625rem;
  padding: 0.625rem 0.875rem;
  background-color: var(--sidebar-color);

  &__header {
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
    position: relative;

    &__text {
      margin-left: 1.625rem;
      font-size: 1rem;
      font-weight: 500;
    }
    &__toggle {
      position: absolute;
      top: 50%;
      right: -1.5625rem;
      transform: translateY(-50%);
      background-color: var(--bs-info);
      width: 1.5625rem;
      height: 1.5625rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--bs-purple);
      cursor: pointer;
    }
  }
  &__menuBar {
    ul {
      padding-left: 0;
    }
    li {
      height: 3.125rem;
      margin-top: 0.625rem;
      list-style: none;
      display: flex;
      align-items: center;
      width: 100%;
    }
    li svg {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      min-width: 3.75rem;
    }
    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 0.375rem;
      transition: var(--tran-04);
    }
    a:hover {
      background: var(--primary-color);
    }
    &__searchBox {
      background: var(--primary-color-light);
      input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 0.375rem;
        background: var(--primary-color-light);
      }
    }
  }
}
